.generate {
  display: block;
  margin: 0 auto;
  background-color: purple;
  color: white;
  border: none;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

body {
  background-color: black;
}

input {
  margin-bottom: 50px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.wrapper > div {
  background-color: #333;
  padding: 30px;
  color: white;
  border-radius: 10px;
}

.yellow {
  background-color: yellow !important;
  color: #333 !important;
}


/*  */

.product-card {
  width: 320px;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #ddd;
  background: #fff;
  font-family: Arial, sans-serif;
  transition: all 0.3s ease;
}

/* заголовок */
.product-card h3 {
  margin: 0 0 10px;
}

/* описание */
.product-card .description {
  margin-bottom: 15px;
}

/* кнопка */
.toggle-btn {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  background: #0077ff;
  color: #fff;
  cursor: pointer;
}

.toggle-btn:hover {
  background: #005ed1;
}

/* компактный режим */
.product-card.compact .description {
  display: none;
}

/* развернутый режим */
.product-card.expanded {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

.position-display {
  color: white;
}